.disappear {
    display: none !important;
}

.dropdown-menu{
	margin-right: 50px;
	padding: 20px;
	border-radius: 25px 0px 25px 25px;
}

.popup-gallery{
	background-color:#CECECE;
}

.mainBody{
	padding-top: 50px;	
}

.textArea{
	resize: vertical; 
	min-height: 200px;
}

.tracking{
	margin-top: 80px;
	margin-bottom: 100px;
	width: 100%;
}

.data{
	margin-top:100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}