<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://sql7.freemysqlhosting.net:3306/sql7153338
   </property>
   <property name="hibernate.connection.username">
      sql7153338
   </property>
   <property name="hibernate.connection.password">
      WKz5pcipTc
   </property>

   <!-- List of XML mapping files -->
   <mapping resource="Utente.hbm.xml"/>
   <mapping resource="Feedback.hbm.xml"/>
   <mapping resource="Spedizione.hbm.xml"/>
   <mapping resource="Reso.hbm.xml"/>
   <mapping resource="Giacenza.hbm.xml"/>
   <mapping resource="InformazioniConsegna.hbm.xml"/>

</session-factory>
</hibernate-configuration>