<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Post-it</display-name>
  <welcome-file-list>
    <welcome-file>jsp/Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Segretaria</servlet-name>
    <servlet-class>Segretaria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Segretaria</servlet-name>
    <url-pattern>/Segretaria</url-pattern>
  </servlet-mapping>
</web-app>